/AbstractTest1.class
/AbstractTest2.class
/Circle1.class
/Circle2.class
/MyInfo.class
/PolyTest.class
/Rectangle1.class
/Rectangle2.class
/Shape.class
/Time.class
/Time2.class
/TimeTest.class
/TimeTest2.class
/Triangle1.class
/Triangle2.class
