/AlphaTest.class
/Excercise3.class
/LiteralTest2.class
/LiteralTest2_1.class
/LiteralTest3.class
/OperTest1.class
/OperTest2.class
/OperTest3.class
/OperTest4.class
/OperTest5.class
/OperTest6.class
/OperTest7.class
/OperTest8.class
/OperTest9.class
/RandomTest.class
/TimeTest.class
/TypeTest1.class
/TypeTest2.class
/TypeTest3.class
/TypeTest4.class
/TypeTest5.class
/TypeTest6.class
/VariableTest3.class
/VariableTest4.class
