<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	@font-face {
	    font-family: 'ONE-Mobile-POP';
    	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
	}
	* {
		 font-family: 'ONE-Mobile-POP';
	}
</style>
</head>
<body>
<h1 style="">Emp 테이블에서 읽어오기~</h1>
<hr>
<th:block th:if="${num}">
	<h2>데이터는 총 [[${ num }]]개가 있어요.....</h2>
</th:block>
<th:block th:if="${list}">
	<ul>
	<th:block th:each="emp : ${list}">
		<li>[[${emp}]]</li>
	</ul>
</th:block>
</body>
</html>